// Active color 
$active-bg-color-sidebar: #dff2fe;
$active-item-menu: #EC6724;

 
// Color text
$black: #000000;
$white: #fff;
$text-main-color: #344054;
$bg-button-close-modal: #EC6724;
$bg-logout-button: #202020;
$top-area-menu-mob: #363636;

// Main background color
$main-bg-color: #F9FAFB;


// Transitions
$transition: .6s;